<div class="bs-example bs-navbar-top-example">
    <nav class="navbar navbar-default navbar-fixed-top">
	<!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
		<div class="container">
	        <div class="navbar-header">
	        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6" aria-expanded="false">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	        	</button>
	        	<%= link_to "Curso Ruby", root_path, :class => "navbar-brand" %>
	        </div>

	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
				<ul class="nav navbar-nav">
					<li><%= link_to "Inicio", root_path %></li>
					<li><%= link_to "Acerca", acerca_path %></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<% if user_signed_in? %>
					<li><%= link_to "Perfil", edit_user_registration_path %></li>
					<li><%= link_to "Cerrar Sesion", destroy_user_session_path, :method => :delete %></li>
					<% else %>
					<li><%= link_to "Iniciar Sesion", new_user_session_path %></li>
					<% end %>
				</ul>
	        </div><!-- /.navbar-collapse -->
    	</div>
    </nav>
</div>